---
//Filename: index.astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/Card.astro";
import WordMap from "@/assets/World-Map_Services.png";
import { Image } from "astro:assets";
import TheContent from "@/components/TheContent.astro";
---

<BaseLayout title="Surinvest - Home" description="Algo acá">
	<TheContent>
		<div class="IndexGrid">
			<a href="/services" class="picture">
				<Image src={WordMap} alt={"World Map"} width={423} height={423} />
			</a>
			<Card title="what we do" classes="wedo">
				<p class="MakePrimaryColor">
					Aiming high: Nothing is more real than our imagination
				</p>
				<p>
					Our firm brings to bear seasoned and accomplished individuals and
					top-of-the line associates to address complex development challenges.
					We mobilize and provide professional experience for personalized
					guidance throughout the entire range of issues, from policy, sector
					and project investment issues.
				</p><a href="/about">Learn more about us.</a>
			</Card>
			<Card title="who we are" classes="weare">
				<p class="MakePrimaryColor">From best practices to good fits</p>
				<p>
					Surinvest Ltda. is a one-of-a-kind investment company that provides
					both, advise and risk capital, to further development in emerging
					economies, based on proven record. We seek tangible impact through
					end-to-end and tailor-made solutions by means of purposeful strategic
					and policy planning and directed thinking.
				</p>
				<a href="/team">Learn more about our team.</a>
			</Card>
		</div>
	</TheContent>

	<style lang="scss">
		.IndexGrid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(1, 1fr);
			grid-template-areas:
				"picture wedo"
				"picture weare";
			column-gap: 1rem;
			row-gap: 1rem;
			align-items: start;

			.wedo {
				grid-area: wedo;
			}

			.weare {
				grid-area: weare;
			}

			.picture {
				grid-area: picture;
			}
		}

		@media (max-width: 768px) {
			.IndexGrid {
				grid-template-columns: 1fr;
				grid-template-areas:
					"picture"
					"wedo"
					"weare";
			}
		}
	</style>
</BaseLayout>
