---
import Card from "@/components/Card.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="News" description="">
	<Card
		title="News"
		subtitle="Raising Awareness on Emerging Issues"
		showSubtitle={true}>
		<p>
			Surinvest is helping new entrants in piercing into international markets.
			To this end, M. Schloss is supporting the University Diego Portales in
			delivering a course globally by reviewing his experience on transparency
			and corruption, and summarising where the world is coming from, where we
			are and where we need to go.
		</p>
		<p>
			The program will beamed to more than 100 countries in different languages,
			and reach initially some 7,000 students and interested parties.
		</p>
		<iframe
			width="560"
			height="315"
			src="https://www.youtube.com/embed/hGFjrYeP6Lk"
			frameborder="0"
			allowfullscreen></iframe>
		<p>
			Please select a link below:<br />
			<a
				href="Downloads_News/Bretton%20Woods%20Committee%20Membership%20Invitation%20Letter.pdf"
				><br /></a
			>
		</p>
		<ul>
			<p style="color:orange">REGISTER NOW</p>
			<li>
				<a href="%3Ca%20href=">
					Bretton Woods Committee and Oil, Gas & Energy Legal Intelligence
					(OGEL) publish in various platforms M. Schloss articles on energy
					transition in preparation for the 2023 UN Climate Change Conference of
					the Parties (COP 28).</a
				>
			</li><a href="%3Ca%20href="> </a><a
				href="Downloads_News/1-Changing-the-Conversation-on-Energy-Transition.pdf"
			></a><img
				src="src/assets/news/globaljournal.jpg"
				width="606"
				height="348"
				alt="globaljournal"
			/><br />
			<li>
				<a
					href="https://www.wbgalumni.org/event/can-carbon-emission-reduction-be-harmonized-with-economic-well-being/"
					target="_blank"
					>Oil, Gas & Energy Legal Intelligence (OGEL) disseminated in various
					internet platforms M. Schloss</a
				><a
					href="https://www.linkedin.com/feed/update/urn%3Ali%3Aactivity%3A70268%2081334094520321/?midToken=AQE5ER80ORTDVw&midSig=3Fk6xy6id3WE1&trk=emlemail_notification_single_mentioned_you_in_this_01-notifications-1-%20hero%7Ecard%7Efeed&trkEmail=emlemail_notification_single_mentioned_you_in_this_01-notifications-1-%20hero%7Ecard%7Efeed-null-zdmwn%7Eldn1mj1q%7Erh-nullvoyagerOffline"
					>'</a
				>
				<a
					>article on Energy Transition, and Global Journals Society recognized
					him as Fellow Member of Business and Research Council&nbsp;</a
				>
			</li><img
				src="src/assets/news/oil.jpg"
				width="606"
				height="348"
				alt="oil"
			/>
			<li>
				<a
					href="https://www.wbgalumni.org/event/can-carbon-emission-reduction-be-harmonized-with-economic-well-being/"
					target="_blank"
					>Webinar September 15 @ 11:00am - 12:30pm - Can Carbon Emission
					Reduction be harmonized with Economic Well-being?<br />
					<br /></a
				>
			</li>
			<li>
				<a
					href="Downloads_News/1-Changing-the-Conversation-on-Energy-Transition.pdf"
					>Global Journal of Management and Business Research - Changing the
					Conversation on Energy Transition</a
				><br />
				<br />
			</li>
			<li>
				<a
					data-nl-type="externalLink"
					href="http://t.newsletterext.worldbank.org/r/?id=h1a2471e9,88e5076,88ec820"
					target="_blank"
					>1818 Society World Bank Group Alumni - Blog - Mapping Carbon
					Neutrality from Words to Deeds&nbsp;(Aug 2022) -&nbsp;Miguel Schloss</a
				>
			</li>
			<li>
				<strong
					><a
						href="https://www.facebook.com/watch/?v=939638706718115&ref=sharing"
						target="_blank"
						>M. Schloss addresses World Copper Conference 2022 in Chile (March
						28-29)<br />
						<br /></a
					></strong
				>
				<strong
					><a
						href="https://www.facebook.com/watch/?v=939638706718115&ref=sharing"
						target="_blank"
						><img
							src="src/assets/news/WorldCopperConf2022_MSchloss.png"
							width="389"
							height="202"
							alt="WorldCopperConf2022_MSchloss"
						/></a
					></strong
				>
			</li>
		
			<li>
				<a
					href="Downloads_News/Bretton%20Woods%20Committee%20Membership%20Invitation%20Letter.pdf"
					target="_blank"
					>M. Schloss has been invited to join the Bretton Woods Committee, to
					help&nbsp;strengthen and accelerate the evolution of the global
					economic architecture for a rapidly changing world, by supporting
					programs aimed at&nbsp;fortifying and reforming key institutions of
					global economic and financial governance, including&nbsp;the World
					Bank and International&nbsp;Monetary</a
				>.&nbsp;
			</li>
	
			<li>
				<a
					href="https://www.facebook.com/comunidadnbi/videos/282672140225859"
					target="_blank"
					>Interview on experiences and anecdotes on Transparency International
					(Nueva Beni Israel — May 2021)</a
				>
			</li>
	
			<li>
				<a href="Downloads_News/DF_20210510_002.pdf" target="_blank"
					>M. Schloss comments on sustained policies for climate change — Diario
					Financiero, May 2021</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/JDW_Memorial_001.pdf" target="_blank"
					>M. Schloss pays homage to former President of Wolrd Bank, James D
					Wolfensohn (1933-2020)</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/ARCHIVED_20201207_001.pdf" target="_blank"
					>Miguel Schloss Newspaper Publications Archive, years 1977-1999</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/WB_20191018_001.pdf" target="_blank"
					><strong
						>Surinvest participates in World Bank-IMF Annual&nbsp;Meeting in
						Washington, DC - October 2019</strong
					></a
				>
			</li>
		
			<li>
				<a
					href="Downloads_News/MER_Surinvest2018.jpeg?dt=2018-mar-18&PaginaId=20&BodyId=1"
					target="_blank"
					>Surinvest Ltd. participated in Banco de Chile and Banchile Investment
					Economic Conference on “Emerging Economies” to discuss challenges
					confronting the Chilean economy, including global economic trends and
					their implications on the investment environment in the country</a
				>
			</li>
		
			<li>
				<a href="https://www.youtube.com/watch?v=riJWZlklsKQ" target="_blank"
					>Columbia Business - Fall 2018 - Class Notes on CBS Alumni of ’68: New
					Book on Transparency and Governance</a
				>
			</li>
		
			<li>
				<a
					href="http://centroestudiosinternacionales.uc.cl/images/old/stories/noticias/DIPLOMADO%20PROBIDAD%20TRANSPARENCIA%20Y%20BUEN%20GOBIERNO.pdf"
					target="_blank"
					>Surinvest participates in the joint program of the International
					Studies Center of the Catholic University of Chile and University of
					Salamanca of Spain to discuss international experiences on governance,
					2016</a
				>
			</li>
		
			<li>
				<a
					href="http://centroestudiosinternacionales.uc.cl/images/old/stories/recomendados/programa_probidad_y_buen_gobierno2014.pdf"
					target="_blank"
					>Surinvest participates in the joint program of the International
					Studies Center of the Catholic University of Chile and University of
					Salamanca of Spain to discuss international experiences on governance,
					2014</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/COL_20132018_001.pdf" target="_blank"
					>Columbia University - Aug 2013-2018 - Surinvest co-sponsored six
					yearly Columbia University Business School MBA Information Session for
					interested candidates and alumni in Chile, and six Information
					Sessions for Entrepreneurship and Competitiveness in Latin America</a
				><br />
			</li>
		
			<li>
				<a
					href="http://www.icontact-archive.com/Sl59-ZYTxF510VgRqDlunGGsg7MfC6q9?w=4"
					target="_blank"
					>Columbia Business School & Transparency International - 3 Nov 2016 -
					Israel: Panel and Discussion on Corruption and Transparency with
					Miguel Schloss</a
				><br />
			</li>
		
			<li>
				<a href="Downloads_News/MER_20160224_002.pdf" target="_blank"
					>El Mercurio - 24 Feb 2016 - Surinvest establishes Buenaventura SpA, a
					joint venture company with leading edge Spanish and Chilean firms with
					worldwide experience for real estate design and management that will
					initially carry out investments in the central area of the country.</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/NBI_20151001_002.pdf" target="_blank"
					>NBI - Oct 2015 - "Miguel Schloss, el señor de la transparencia"</a
				><a href="Downloads_News/COL_20150824_003.pdf" target="_new"><br /></a>
			</li>
		
			<li>
				<a href="Downloads_News/LAA_20150807_002.pdf" target="_blank"
					>Latin American Advisors Energy of Inter-American Dialogue's Interview
					- 07 Aug 2015 - "Is Chile Reversing Plans to Use More Renewable
					Energy?"</a
				><br />
				<br />
			</li>
			<li>
				<a href="Downloads_News/COL_20150528_004.pdf" target="_blank"
					>Columbia University - 28 May 2015 - Miguel Schloss awarded
					Presidential Medal for Distinguished Service at 2015 Commencement
					Ceremony</a
				>
				<ul>
					<li>
						<a
							href="https://www.youtube.com/watch?v=riJWZlklsKQ&index=10&list=PL0Knn9rUhs8iq6rVqlLONLXCowhfwPGpT"
							target="_blank"
							>Video - Columbia University - 2015 Alumni Medalist Miguel Schloss
							'69BUS<br />
							<br /></a
						>
					</li>
				</ul>
			</li>
			<li>
				<a href="Downloads_News/QPA_20150226_002.pdf" target="_blank"
					>Que Pasa - 26 Feb 2015 - "El proyecto del ex personero del Banco
					Mundial"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/RS_20140601_002.pdf" target="_new"
					>Revista Shalom - 01 Jun 2014 - "Nos estamos paralizando entre
					nosotros mismos"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/LAA_20140401_006.pdf" target="_new"
					>Latin American Advisors Energy of Inter-American Dialogue's Interview
					- 01 Apr 2014 - "What are the Costs and Benefits of Chile's Carbon Tax
					Plan?"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/LAA_20140401_008.pdf" target="_new"
					>Latin American Advisors of Inter-American Dialogue Interview - 01 Apr
					2014 - "Are Countries Making Progress in Fighting Corruption?"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/LAA_20140101_004.pdf" target="_new"
					>Latin American Advisors of Inter-American Dialogue Interview - 01 Jan
					2014 - "Is Corruption Getting Worse in Latin America?"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/PM_20141001_002.pdf" target="_new"
					>Pulso Magazine - 01 Oct 2014 - "Excerpt of discussion on Energy and
					Environment: Energía y medio ambiente: ¿objetivos en conflicto?"<br
					/></a
				>
			</li><br />
			<li>
				<a href="Downloads_News/LAA_20130701_002.pdf" target="_new"
					>Latin American Advisors of Inter-American Dialogues Interview - 01
					Jul 2013 - "How Is Corruption Affecting Latin American Countries?"</a
				>
			</li><br />
			<li>
				<a href="Downloads_News/IAD_20120901_002.pdf" target="_new"
					>Inter-American Dialogue Energy Advisors - 01 Sep 2012 - "Will
					Opposition to Mega Projects Worsen Chile's Energy Woes? Featured
					Q&amp;A"</a
				><br />
				<br />
			</li>
			<li>
				<a href="Downloads_News/UniC_20140830_002.pdf" target="_new"
					>Universidad de Chile - 30 Aug 2014 - "Para vencer la corrupción hay
					que entende sus causas"</a
				><br />
				<br />
			</li>
			<li>
				<a href="Downloads_News/CAP_20120901_002.pdf" target="_new"
					>Capital - 01 Sep 2012 - "Chilenos en las Top 10"</a
				><br />
				<br />
			</li>
			<li>
				<a href="Downloads_News/MER_20140624_004.pdf" target="_new"
					>El Mercurio del Valparaiso - 24 Jun 2014 - "La generación energética
					de cara al futuro"</a
				><br />
				<br />
			</li>
			<li>
				<a href="Downloads_News/POR_20120601_002.pdf" target="_new"
					>Portalinmobilario.com - 01 Jun 2012 - "Los 10 proyectos más cotizados
					en mayo"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20120109_058.pdf" target="_new"
					>Transparency International - 09 Jan 2012 - "Próximo 12 y 13 De Enero:
					Representantes Latinoamericanos De Transparencia Internacional Visitan
					Chile Para Participar En Seminario"</a
				><br />
				<br />
			</li>
			<li>
				<a href="Downloads_News/MER_20140116_002.pdf" target="_new"
					>El Mercurio del Valparaiso - 16 Jan 2014 - "Desequilibrios
					insostenibles"<br /></a
				>
			</li>
		
			<li>
				<a href="Downloads_News/NIG_20141019_002.pdf" target="_new"
					>Nigeria Wordpress - 19 Oct 2014 - "In Chile, leadership made all the
					difference"</a
				><br />
				<br />
			</li>
			<li>
				<a href="Downloads_News/MER_20140808_006.pdf" target="_new"
					>El Mercurio del Valparaiso - 08 Aug 2014 - "Chile ha perdido terreno
					en comate a la corruptión"</a
				><br />
				<br />
			</li>
			<li>
				<a href="Downloads_News/MER_20140815_008.pdf" target="_new"
					>El Mercurio del Valparaiso - 15 Aug 2014 - "El largo camino a la
					probidad"<br /></a
				><br />
			</li>
			<li>
				<a href="Downloads_News/MER_20141107_010.pdf" target="_new"
					>El Mercurio del Valparaiso - 07 Nov 2014 - "No dormirse en los
					laureles"</a
				><br />
			</li>
		
			<li>
				<a href="Downloads_News/TI_20101202_056.pdf" target="_new"
					>Transparency International - 02 Dec 2010 - "Media Advisory: OAS
					General Assembly: Anti-Corruption Action Needed To Counter Insecurity"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20100602_054.pdf" target="_new"
					>Transparency International - 02 Jun 2010 - "Aviso A Medios De
					Comunicacion: Asamblea General De La Oea: Necesidad De Acción Contra
					La Corrupción Para Combatir La Inseguridad"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20100325_052.pdf" target="_new"
					>Transparency International - 25 Mar 2010 - "Lagging Anti-Corruption
					Progress Challenges OAS As Secretary General Assumes New Mandate"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20100324_050.pdf" target="_new"
					>Transparency International - 24 Mar 2010 - "La Falta De Avances
					Contra La Corrupción Sigue Retando A La OEA Ante El Nuevo Período Del
					Secretario"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20070624_048.pdf" target="_new"
					>Transparency International - 24 Jun 2007 - "Periodistas De Brasil y
					Colombia Obtienen El Principal Premio Latinoamericano De Periodismo De
					Investigación"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20070624_046.pdf" target="_new"
					>Transparency International - 24 Jun 2007 - "Investigative Journalists
					From Brazil And Colombia Win Prize For Investigative Journalism In
					Latin America"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20061022_044.pdf" target="_new"
					>Transparency International - 22 Oct 2006 - "Líderes Mundiales De
					Diversos Sectores Buscan Soluciones En La Conferencia Anticorrupción"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20061022_042.pdf" target="_new"
					>Transparency International - 22 Oct 2006 - "World Leaders In Diverse
					Sectors To Seek Solutions At Anti-Corruption Conference"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20051103_040.pdf" target="_new"
					>Transparency International - 03 Nov 2005 - "Los Gobiernos De Las
					Américas Deben Erradicar La Corrupción Para Crear Trabajo y Enfrentar
					La Pobreza"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20051101_038.pdf" target="_new"
					>Transparency International - 01 Nov 2005 - "IPYS And Transparency
					International Launch The Fourth Annual Latin American Prize For The
					Best Investigative Journalism Report On Corruption"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20051101_036.pdf" target="_new"
					>Transparency International - 01 Nov 2005 - "IPYS y Transparencia
					Internacional Lanzan Cuarta Edición Del Premio Latinoamericano A La
					Mejor Investigación De Un Caso De Corrupción"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20051013_034.pdf" target="_new"
					>Transparency International - 13 Oct 2005 - "Governments Must Publish
					Their Commitments To The OAS Anti-Corruption Convention"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20051013_032.pdf" target="_new"
					>Transparency International - 13 Oct 2005 - "Los Gobiernos Deben
					Publicar Sus Compromisos Para Con La Convención Contra La Corrupción
					De La Oea"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20050929_030.pdf" target="_new"
					>Transparency International - 29 Sep 2005 - "Anti-Corruption
					Assessments Reveal Secrecy As A Continuing Challenge In The Americas"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20050927_028.pdf" target="_new"
					>Transparency International - 27 Sep 2005 - "New OAS Secretary General
					Pledges Action On Corruption Under Democratic Charter"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20050909_026.pdf" target="_new"
					>Transparency International - 09 Sep 2005 - "TI Llama A Los Gobiernos
					Americanos A Asumir Compromisos Reales En La Lucha Contra La
					Corrupción"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20050909_024.pdf" target="_new"
					>Transparency International - 09 Sep 2005 - "The Governments Of The
					Americas Must Make Genuine Commitments In The Fight Against
					Corruption"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20050207_022" target="_new"
					>Transparency International - 07 Feb 2005 - "Crisis In Ecuador"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20041028_020.pdf" target="_new"
					>Transparency International - 28 Oct 2004 - "Recent High-Level Bribery
					Allegations Highlight Disregard For International Anti-Corruption
					Laws"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20041028_018.pdf" target="_new"
					>Transparency International - 28 Oct 2004 - "Acusaciones Recientes De
					Sobornos A Altos Dignatarios De Gobiernos Destacan Incumplimiento De
					Leyes Internacionales Anticorrupción"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20030524_016.pdf" target="_new"
					>Transparency International - 24 May 2003 - "Head Of Nigerian Food And
					Drugs Agency, Samoan Ex-Chief Auditor And Campaigner In Rural India
					Receive Anti-Corruption Award At International Anti-Corruption
					Conference In Seoul"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20030409_014.pdf" target="_new"
					>Transparency International - 09 Apr 2003 - "Best Investigative
					Journalism Report On Corruption In Latin America And Caribbean Award
					Goes To Nicaraguan Journalist"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20030409_012.pdf" target="_new"
					>Transparency International - 09 Apr 2003 - "Jurado Eligió La Mejor
					Investigación Periodística Sobre Corrupción En América Latina y El
					Caribe"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_20010604_010.pdf" target="_new"
					>Transparency International - 04 Jun 2001 - "Transparency
					International Chapters In The Americas Endorse The OAS Follow-Up
					Mechanism To The Inter-American Convention Against Corruption"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_19991110_008.pdf" target="_new"
					>Transparency International - 10 Nov 1999 - "Transparency
					International Deeply Concerned Over Arrest Of Nicaraguan
					Comptroller-General"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_19990420_006.pdf" target="_new"
					>Transparency International - 20 Apr 1999 - "World Bank Debars Staff
					Member & Corporations"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_19990215_004.pdf" target="_new"
					>Transparency International - 15 Feb 1999 - "Americas Urged To
					Implement Anti-Corruption Convention"</a
				>
			</li>
		
			<li>
				<a href="Downloads_News/TI_19980416_002.pdf" target="_new"
					>Transparency International - 16 Apr 1998 - "Santiago Summit Of The
					Americas"</a
				>
			</li>
		</ul>
	</Card>
</BaseLayout>

<style>
	iframe {
		display: block;
		text-align: center;
		margin-block: 1rem;
		margin-inline: auto;
	}

	ul {
		display: flex;
		flex-flow: column nowrap;
		gap: 1rem;
		margin-bottom: 0.4rem;
	}
</style>
