---
import Card from "@/components/Card.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="SurInvest - Services" description="">
	<div class="ServicesContents">
		<Card
			title="Services"
			subtitle={"Crafting Solutions Beyond the Obviuos"}
			showSubtitle={true}
			description="Surinvest provides provides ahead-of-the-crowd though practical support for strategic planning, governance and key aspects associated with policy formulation, project development, appraisal, execution and post evaluation, by:">
			<ul>
				<li>
					Delivering an experienced insider's view on how development (in the
					sector and overall economy) actually happens -- or doesn't happen.
				</li>
				<li>
					Covering the whole range of issues normally associated in the practice
					of development -- from government, private sector, civil society, or
					social assistance whether local or from abroad and foreign assistance.
				</li>
				<li>
					Focusing on current and forthcoming issues actually faced by emerging
					economies -- not on theories and second hand academic information.
				</li>
				<li>
					Highlighting the frontier of practice -- the point where knowledge
					stops and ignorance start, and where practitioners have the last word
					to shape the course of events.
				</li>
				<li>
					Informing and empowering those who run the programs and do not have
					PhDs --that is, most people normally associated with management and
					execution of programs.
				</li>
				<li>
					Using basic, simple, straightforward language -- no fancy consulting
					power points, models, math or graphs (which tend to be gross
					simplifications of reality).
				</li>
			</ul>
			<p>
				Please select a region on the map to learn more about our advisory
				services for private, public, and non-profit sectors
			</p>
		</Card>

		<Card title="Global Benchmarking & Policy Design">
			<div>
				<p>
					<span class="orgtext"
						>REN 21 &amp; United Nations Environment Program (UNEP, Paris,
						France):
					</span><span class="text">
						Guidance and peer review of analysis of Global Renewable Status
						reports of 2015 to 2018 on costs, impact and policy implications of
						environmental programs at global, regional and country levels.</span
					><span class="orgtext"><br /> </span>
				</p>
				<p>
					<span class="orgtext"
						>World Bank&amp; AusAID (Washington, DC and Canberra, Australia):</span
					> Design of policy framework and analytical tools to enhance impact of
					World Bank intervention in extractive industries by helping countries overcome
					institutional and governance dysfunctions through addressing key legal
					and fiscal, management, organizational and transparency issues through
					development of:
				</p>
				<ol>
					<li>
						Diagnostic tools to identify vulnerable areas requiring governance
						improvements;
					</li>
					<li>
						Analytical approach and guidelines to develop implementation
						strategies, including linkages to broader set of institutions to
						enable the delivery of customized governance improvement reforms at
						the project, sector, or where appropriate macro level;
					</li>
					<li>
						Detailed project plans for the implementation of work in extractive
						industries, based on the diagnostic tools and defined above, to
						achieve the stated objectives.
					</li>
				</ol>
				<p>
					<span class="orgtext"
						>World Bank Quality Assurance Methodologies (Washington, D.C.):</span
					> Review of Quality Assessment practices, and recommendations, pilot testing
					and mainstreaming of new methods to monitor quality at entry, during execution
					and exit of Bank Group activities with appropriate attention to external
					validation, for improved accountably and enhanced learning.
				</p>
				<p>
					<span class="orgtext"
						>Inter-American Development Bank (Washington, DC):</span
					> Member of External Panel to advice the President and Senior Management
					on investigation and inspection vehicles, codes of conduct and other instruments
					to establish controls and policies for anti-corruption activities.
				</p>
				<p>
					<span class="orgtext">UPM-Kymmene Corp (U.S-Finland):</span> Development
					of instruments to help associated corporations manage and track in an integrated
					way, their Social Responsibilities Principles throughout their value added
					chain (from mining of raw materials and suppliers worldwide to sale of
					finished products to clients). This work includes support aimed at enhancing
					the ability to monitor, manage and communicate sustainability performance,
					development of indicators, and integrate sustainability performance into
					corporate decision making processes and policies, particularly regarding:
				</p>
				<ol>
					<li>
						social responsiveness, covering human resources management, business
						ethics including corruption control, human rights, external
						stakeholders including community relations
					</li>
					<li>
						environmental management, covering sustainability programs,
						developmental, load/impact practices, dialogue and management
						systems, and associated certification and control arrangements;
					</li>
					<li>
						quality and service effectiveness, covering customer satisfaction
						processes and results, product development, quality improvement in
						operations/processes, supplier management including logistics,
						management systems and certification arrangements, and safety
						systems.
					</li>
				</ol>
				<p>
					<span class="orgtext"
						>Transparency International (TI, Berlin, Germany):
					</span>Introduction and oversight of new effort leading to issuance of
					The Corruption Fighters' Tool Kit, a compendium of practical civil
					society anti-corruption experiences described in concrete and
					accessible language, containing anti-corruption tools developed and
					implemented by TI National Chapters and other civil society
					organizations from around the world. The publication was followed by
					an independent evaluation of impact and recommendations for future
					improvements.
				</p>
				<p>
					<span class="orgtext"
						>Affiliated Network for Social Accountability in East and South Asia
						(Manila. Philippines, Dacca, Bangladesh):</span
					> Development and prototyping of multi-country assessments of governance
					and anti-corruption programs in terms of their effectiveness, efficiency,
					quality of design and associated key factors for improved performance and
					enhanced support for design and implementation.
				</p>
				<p>
					<span class="orgtext"
						>Asia Pacific Economic Cooperation (APEC) Secretariat (Tokyo,
						Japan):</span
					>
					Development of framework for diagnosing and identifying energy/environmental
					issues standing in the way for effective impact in the countries concerned,
					and potential vehicles for peer reviews to enable development of action
					programs and their associated monitoring, outlining criteria and processes
					for identifying, managing and evaluating international initiatives.
				</p>
				<p>
					<span class="orgtext"
						>Comisión Nacional de Energía – CNE (Santiago, Chile); Ministry of
						Planning &amp; Investment – MPI (Hanoi, Viet Nam):</span
					> Benchmarking energy policies and practices pursued internationally regarding
					their effectiveness, costs and impact on energy security, efficiency and
					environmental implications, and issues and implications for the two countries
					concerned.
				</p>
				<p>
					<span class="orgtext">African Development Bank (Tunis, Tunisia):</span
					> Development of framework and operational guidelines to address sector
					governance and corruption risk assessments in infrastructure projects and
					programs.
				</p>
				<p>
					<span class="orgtext"
						>United Arab Emirates Ministry of International Cooperation and
						Development — MICAD (Abu Dhabi, UAE):
					</span> Development of UAE's Foreign Aid Policy and Strategy, including:
					(i) identification of priorities; (ii) modalities and vehicles for aid
					delivery based on international experiences; (iii) identification of partnerships,
					agendas and norms; (iv) human, financial and organizational implications;
					and (v) metrics to track and evaluate performance of both strategy as well
					as programs and projects, to enhance cooperation and operations for improved
					economic development, and profile of UAE international assistance. <br
					/>
					<br />
				</p>
			</div>
		</Card>

		<Card title="Governance, risk assessment & mitigation policies">
			<div>
				<p>
					<span class="orgtext">World Bank &amp; AusAID:</span> Prototyping and subsequent
					execution of analytical framework defined above (under Global Methodological
					design) and application of approach in three countries (Ghana, Mali and
					Papua New Guinea) for wider replication in specific field conditions and
					buildup of local oversight institutions, leading to enhanced policy formulation
					and institutional development for sound mining sector contributions to
					country development.
				</p>
				<p>
					<span class="orgtext"
						>Major International Mining Company (Canada; Dominican Republic):
					</span>Assistance to the company’s top management in assessing
					governance issues in the Dominican Republic with a view to
					understanding the issues, probability and potential impacts on a major
					mining project. The assessment provided a quantified analysis of
					variables and implications of control of corruption, rule of law and
					government effectiveness, in particular administrative and systemic
					deficiencies in official decision-making practices, along with
					strategies to prevent or mitigate those impacts. The effort was aimed
					at reaching agreement with top management and relevant Dominican
					Authorities regarding:&nbsp;
				</p>
				<ol>
					<li>
						&nbsp;the country’s economic, institutional and governance
						framework;
					</li>
					<li>
						&nbsp;a diagnosis of governance areas requiring particular attention
						in the project, and the relevant parties that need to be involved;
					</li>
					<li>
						the project’s assets and liabilities from the perspective of the
						country, and the associated vulnerabilities;
					</li>
					<li>
						risk mitigation actions to be considered and alternative the
						strategic approaches and their trade-offs, including their
						partnerships, institutional, policy and operational implications for
						optimum project and country impact.
					</li>
				</ol>
				<div style="padding:41.67% 0 0 0;position:relative;">
					<iframe
						src="https://player.vimeo.com/video/353459005"
						style="position:absolute;top:0;left:0;width:100%;height:100%;"
						frameborder="0"
						allow="autoplay; fullscreen"
						allowfullscreen=""
						data-ready="true"></iframe>
				</div>
				<script src="https://player.vimeo.com/api/player.js"></script>
				<p>
					<a href="https://vimeo.com/353459005">Pueblo Viejo - R Dominicana</a> from
					<a href="https://vimeo.com/user101765766">Virtus Atlas</a> on <a
						href="https://vimeo.com">Vimeo</a
					>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="orgtext"
						>UPM-Kymmene Corp (U.S-Finland) and Imerys Ltda. (France-Brazil):</span
					> Testing of instruments developed for UPM Kymene mentioned above, to help
					the corporations to report and track their social responsibility performance
					throughout their value added chain (from mining of raw materials in the
					Brazilian Amazon and suppliers worldwide to sale of finished products to
					clients). This enabled the build-up of a systematic monitoring and communication
					method to integrate sustainability performance into corporate decision
					making processes and policies, and annual reporting.
				</p>
				<strong class="orgtext">Inter-American Development Bank: </strong>Design
				and introduction of integrated impact evaluation system (including field
				testing in Brazil and Uruguay) for Multilateral Investment Fund to
				obtain feedback of technical, efficiency, effectiveness and other
				factors for ongoing and future projects.
			</div>
		</Card>

		<Card title="Monitoring performance & quality assurance">
			<span class="orgtext"
				>World Bank &amp; Global Partnerships (Washington, D.C.):</span
			> External Member in Quality Assurance Panels that reviewed strategic relevance,
			internal quality, dissemination and associated aspects of over 30 projects,
			technical assistance, and country assistance economic and sector work of World
			Bank, following framework developed in global design work mentioned above.
			Reviews included various institutional and public sector reform programs, governance
			and associated capacity building projects in China, Russia, Moldova, Kyrgyz
			Republic, Jordan, Kuwait, Malawi, Congo Republic, Democratic Republic of Congo,
			India, Indonesia, Sri Lanka, Kosovo, Algeria, Morocco, Burkina Faso, Guinea-Bissau,
			Sierra Leone, Argentina, Brazil, Costa Rica, Thailand, Timor Leste, Mexico,
			Uzbekistan, Tanzania, Uganda, Azerbaijan, Afghanistan. <br />
			<p>
				<span class="orgtext"
					>Partnership for Transparency Fund (PTF):
				</span>Prototyping and establishment of Quality Assurance function to
				enable assessment and appraisal of projects and lessons learned for
				future initiatives through impact analysis, starting with a project in
				Argentina to establish a public policy for assets recovery from
				corruption, and followed up with a review of PTF’s program of 22
				projects in the country.
			</p>
			<p>
				<span class="orgtext">Colombia: </span>Support of establishment,
				prototyping and implementation of new mining royalty regime, including
				buildup of mechanisms for coordination of regional/local execution for
				project identification, design, monitoring and evaluation through: <br
				/>
			</p>
			<ol>
				<li>
					Stocktaking and reviewing the progress of implementation of the
					Royalties regime since inception;
				</li>
				<li>
					Developing mechanisms for strengthening regional/local capabilities
					and coordination among different Regional Coordinating Organizations;
				</li>
				<li>
					Designing systems and processes for program and project cycles, from
					project planning and design, through appraisal, monitoring, control
					and evaluation of the entire delivery chain within in Government
					Planning Office;
				</li>
				<li>
					Providing advice on regulatory, financial arrangements, governance
					(including on civil society engagement), institutional and policy
					implications stemming from above assessments
				</li>
			</ol>
		</Card>

		<Card title="Diagnostic, institucional & policy assesments">
			<div>
				<span class="orgtext">Ethiopia and Eritrea (supported by UAE): </span> pursuant
				to strategic framework developed as per above, project identification, prioritization,
				and institutional options were defined to enable the two governments and
				the UAE to agree on the latter's multi-year assistance program to underpin
				the peace agreements ending the war between them.
			</div>
			<p>
				<span class="orgtext">Democratic Republic of Congo (Kinshasa):</span> Support
				to Government, private sector, civil society working groups develop anti-corruption
				dimensions and governance build-up program aimed at rebuilding the country
				institutions following agreements to end civil war. The work focused on:
			</p>
			<ol>
				<li>the build-up of independent judiciary;</li>
				<li>
					the setting up of oversight bodies, including an independent press;
				</li>
				<li>
					actions to be taken by the Executive, including reduction of its
					discretionary powers.
				</li>
			</ol>
			<p>
				<span class="orgtext">Republic of Congo (Brazzaville):</span> Special mission
				to lead and give guidance to Ministry of State Control and private sector
				survey team to:
			</p>
			<ol>
				<li>
					design questionnaire and methods of diagnostic survey; and “first cut”
					analysis of data, identifying areas vulnerable to corruption;
				</li>
				<li>
					sketch out of possible areas for corrective action and in-depth
					analysis;
				</li>
				<li>
					preparation of terms of reference for working groups on areas of
					vulnerability; and international auditing and consulting firms on
					petroleum sector;
				</li>
				<li>
					outline audit and corroboration work needed to get basic information
					on petroleum production, exports, taxation and associated payments to
					help develop extractive industries monitoring arrangement and
					management of surpluses.
				</li>
			</ol>
			<p>
				<span class="orgtext"
					>Caspian Sea Revenue Watch Advisory Board (supported by Open Society
					Institute):</span
				> As member of this Board, provided advice and guidance to technical team
				in to develop and seek experiences worldwide regarding the institutional,
				policy and constituency support vehicles for tracking petroleum related revenues
				and their disposition in countries surrounding the Caspian Sea.
			</p>
			<p>
				<span class="orgtext">Chile: </span>Assessment of critical areas for
				mining cluster development and governance arrangements to:
			</p>
			<ol>
				<li>strengthen supply and service industries;&nbsp;</li>
				<li>
					develop small and medium mining sector ventures to generate dynamic
					“juniors” and new entrants to the sector;&nbsp;&nbsp;
				</li>
				<li>
					generate processes and organizations to enhance technological
					development and greater value added under changing
					conditions;&nbsp;&nbsp;
				</li>
				<li>
					identify initiatives, plans of action and working groups to follow up
					human capital, innovation, supply industry development, investment
					climate and joint venturing implications of identified programs.
				</li>
			</ol>
			<p>
				<span class="orgtext">Kazakhstan:</span> Member of Panel set-up to review
				the World Bank's performance in a public sector reform project. The review
				focused on areas associated with corruption, including:
			</p>
			<ol>
				<li>strategic relevance and focus of the overall project;</li>
				<li>
					technical, financial, economic, fiduciary, policy and institutional
					aspects of programs;
				</li>
				<li>
					degree of attainment of the objectives, sustainability, and
					implementation arrangements.
				</li>
				<li>risk assessment, and safeguard and mitigation policies; and</li>
				<li>
					process arrangements, including the managers' oversight performance,
					judgments concerning conditions of Board presentation, effectiveness
					and financing.
				</li>
			</ol>
			<p>
				<span class="orgtext">Honduras:</span> Review of performance of Anti-Corruption
				Commission, identifying:
			</p>
			<ol>
				<li>the nature of corruption issues in the country;</li>
				<li>the Government’s response to date;</li>
				<li>impending issues;</li>
				<li>international experience in countries facing similar issues;</li>
				<li>
					lessons drawn from both, the current situation in the country and
					lessons drawn internationally; and
				</li>
				<li>
					conclusions and implications for actions to be taken to strengthen the
					Anti-Corruption Commission, its organization, work plans and
					financing.
				</li>
			</ol>
			<p>
				<span class="orgtext">Sao Tome e Principe: </span>Advice to the
				Government and main donors (World Bank, IMF, UNDP and USAID) on the
				Governance and Resource management Capacity Building to administer the
				increased revenues accruing from new oil production, including the
				assistance needed to establish:
			</p>
			<ol>
				<li>
					Development of a regulatory agency, and associated technical
					assistance, to enable the Government to oversee activities of main
					parties involved (oil producers, traders, partner countries, etc.) and
					safeguard the country’s share of the proceeds of oil sales, investment
					of surpluses, bidding and negotiations of new contracts with oil
					companies.
				</li>
				<li>
					Establishment of tracking resource use arrangements for accountability
					and responsiveness of public sector and service providers, including
					reforms for public sector budgeting and performance-based arrangements
					for transparent tracking and generate informed debate grounded on data
					that capture more direct information of results on the ground, and
					ultimately enhanced public sector performance and impact
				</li>
				<li>
					Provision of concurrent human and financial resource mobilization to
					support local communities to respond to their identified needs with
					small investments.<u></u>
				</li>
			</ol>
			<p>
				<span class="orgtext">Mozambique &amp; Niger: </span>Advisory work to
				Government of Mozambique, USAID and Management Systems International to:
				(i) pilot test corruption assessment methodology; (ii) conduct
				assessment of corruption in selected public administration areas
				(customs, public sector finance and budget, and government procurement);
				(iii) recommend corrective actions. This work provided the underpinnings
				for a Threshold Millennium Corporation Account to support an adjustment
				and reform program in the country.
			</p>
		</Card>
	</div>
</BaseLayout>

<style lang="scss">
	.ServicesContents {
		display: flex;
		flex-flow: column nowrap;
		gap: 4rem;
	}
	div p {
		margin-block: 1rem;
	}

	ul {
		margin-bottom: 1rem;
	}
	.orgtext {
		color: var(--primary-color);
		font-weight: 700;
	}
</style>

<link
	rel="stylesheet"
	media="screen,projection"
	href="https://cdn.jsdelivr.net/npm/jquery-totop@1.0.1/css/ui.totop.css"
/>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.5/jquery-jvectormap.min.css"
	type="text/css"
	media="screen"
/>
<script
	src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha384-3XcD7Tfj8AVx8/oJoIjSC8S/RMPzAplW6Ony/Nql/yhG5/5h7uXt9u+1xKvLkJex"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.5/jquery-jvectormap.min.js"
></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.5/maps/jquery-jvectormap-world-mill-en.js"
></script>
