---
import SimpleItem from "@/components/SimpleItem.astro";
import TheContent from "@/components/TheContent.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Surinvest - Sitemap" description="">
	<TheContent>
		<SimpleItem>
			<h1 class="sitemap">Site Map</h1>
			<p>Select a link below:</p>

			<section class="sitemap">
				<ul>
					<li>
						<a href="about">About</a>
						<ul>
							<li><a href="contacts" rel="ibox">Contact</a></li>
						</ul>
					</li>
					<li>
						<a href="team">Team</a>
						<ul>
							<li><a href="team#Miguel-Schloss">Miguel Schloss</a></li>
							<li><a href="team#Silvia-Lay">Silvia Lay</a></li>
							<li><a href="team#Tomas-Chadwick">Tomas Chadwick</a></li>
							<li><a href="team#Felipe-Simonetti">Felipe Simonetti</a></li>
							<li><a href="team#Jessie-Schloss">Jessie Schloss</a></li>
						</ul>
					</li>
					<li>
						<a href="associates">Associates</a>
						<ul>
							<li>
								<a
									href="http://www.banchileinversiones.cl/"
									target="_blank"
									rel="noopener">Banchile</a
								>
							</li>
							<li>
								<a
									href="http://www.bancoedwards.cl/index.html"
									target="_blank"
									rel="noopener">Banco Edwards</a
								>
							</li>
							<li>
								<a href="http://www.exxacon.cl/" target="_blank" rel="noopener"
									>Exxacon</a
								>
							</li>
							<li>
								<a href="http://www.dhelos.cl/" target="_blank" rel="noopener"
									>Dhelos</a
								>
							</li>
						</ul>
					</li>
					<li>
						<a href="projects">Projects</a>
						<ul>
							<li>
								<a href="projects#construction">Projects Under Construction</a>
							</li>
							<li><a href="projects#completed">Completed Projects</a></li>
							<li>
								<a href="projects#leased">Leased Apts, Offices and Showrooms</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="services">Services</a>
						<ul>
							<li>
								<a href="services#global"
									>Global Benchmarking and Policy Design</a
								>
							</li>
							<li>
								<a href="services#governance"
									>Governance, Risk assessment and Mitigation Policies</a
								>
							</li>
							<li>
								<a href="services#monitoring"
									>Monitoring Performance and Quality Assurance</a
								>
							</li>
							<li>
								<a href="services#diagnostics"
									>Diagnostic, Institutional and Policy Assessments</a
								>
							</li>
						</ul>
					</li>
					<li>
						<a href="investment">Investment</a>
						<ul>
							<li>
								<a
									href="http://www.aguasandinas.cl/"
									target="_blank"
									rel="noopener">Aguas</a
								>
							</li>
							<li>
								<a
									href="http://ww3.bancochile.cl/wps/wcm/connect/BancoDeChile/NuestroBanco/"
									target="_blank"
									rel="noopener">Bancochile</a
								>
							</li>
							<li>
								<a
									href="http://www.entel.cl/inversionistas/index.html"
									target="_blank"
									rel="noopener">Entel</a
								>
							</li>
							<li>
								<a
									href="http://www.cap.cl/inversionistas/informacion-financiera/"
									target="_blank"
									rel="noopener">Cap</a
								>
							</li>
							<li>
								<a href="http://www.cencosud.cl/" target="_blank" rel="noopener"
									>Cencosud</a
								>
							</li>
							<li>
								<a href="http://www.copec.cl" target="_blank" rel="noopener"
									>Copec</a
								>
							</li>
							<li>
								<a href="http://www.endesa.cl" target="_blank" rel="noopener"
									>Endesa</a
								>
							</li>
							<li>
								<a
									href="http://www.falabella.com/falabella-cl/static/staticContentWithHeader.jsp?title=Inversionistas-Home"
									target="_blank"
									rel="noopener">Falabella</a
								>
							</li>
							<li>
								<a
									href="http://www.lan.com/es_cl/about_us/info_inversionistas/investor.html"
									target="_blank"
									rel="noopener">Lanchile</a
								>
							</li>
							<li>
								<a
									href="http://phx.corporate-ir.net/phoenix.zhtml?c=71614&p=irol-IRHome"
									target="_blank"
									rel="noopener">Santander</a
								>
							</li>
						</ul>
					</li>
					<li><a href="news">News</a></li>
					<li>
						<a href="publications">Publications</a>
						<ul>
							<li>
								<a href="publications#articles">Articles &amp; Policy Papers</a>
							</li>
							<li>
								<a href="publications#coauthored"
									>Co-Authored and/or Led World Bank Technical Paper Series</a
								>
							</li>
							<li>
								<a href="publications#hearings"
									>Hearings, Testimonials, Op Eds &amp; Interviews</a
								>
							</li>
						</ul>
					</li>
				</ul>
			</section>
		</SimpleItem>
	</TheContent>
</BaseLayout>
