---
import siteInfo from "@/data/data.json";

const { menuItems } = siteInfo;
---

<div class="Container">
	<nav class="NavBar">
		{
			menuItems.map((item) => (
				<a class="NavBar-item" href={item.page}>
					{item.label}
				</a>
			))
		}
	</nav>
</div>

<style lang="scss">
	.NavBar {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding-top: var(--size-7);
		padding-bottom: var(--size-4);

		&-item {
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 1px;
			color: var(--link-default-color);
			font-weight: 700;
			font-size: 1rem;
			padding: 1rem 1.4rem;
			border-bottom: 2px solid var(--secondary-color); // Borde predeterminado
			position: relative;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -2px; // Para superponer sobre el borde predeterminado
				width: 100%;
				height: 2px;
				background: var(--primary-color); // Color del efecto en hover
				transform: scaleX(0);
				transform-origin: left;
				transition: transform 0.4s ease-in-out;
			}

			&:hover::after {
				transform: scaleX(
					1
				); // Al hacer hover, el borde se expande desde la izquierda
			}

			&:hover {
				color: var(--primary-color); // Cambia también el color del texto
			}
		}
	}
</style>
